//$ks_top_link : $primary-text;

.o_main_navbar, .o_menu_toggle_main_navbar {
  background: transparent;
  border: transparent;
  padding-left: 12px;
  .ks-app-open {
    padding: 0 10px 0;
  }
  .o_menu_toggle {
    padding-left: 0;
    display: flex;
    align-items: center;
  }
  .brand_logo {
    padding: 0 0px 0 0px;
    float: left;
    height: 46px;
    line-height: 46px;
    margin-right: 12px;
  }
}
.o_main_navbar > a:not([href]):not([tabindex]).o_menu_brand {
  color: var(--nav-link-color);
  background-color: transparent;
  font-size: 1.375em;
  &:hover {
    background-color: transparent;
  }
}

.ks_hide_app_names {
  .o_main_navbar {
    .ks-app-open {
      padding: 0 10px 0;
    }
  }
}

.nav-link,
.o_main_navbar > a.o_menu_brand,
.o_main_navbar > ul > li > a,
.o_main_navbar > ul > li > label {
  color: var(--nav-link-color);
  &:hover {
    color: var(--nav-link-color);
  }
}
.brand_logo {
  cursor: pointer;
  &:hover {
    background: none !important;
    text-decoration: none;
    user-select: none;
  }
  img {
    height: 34px;
    user-select: none;
  }
}

// Horizontal  nav panel

.o_main_navbar .show .dropdown-toggle {
  background-color: var(--ks-over-link);
}

.o_notification_counter {
  @extend %empty;
}

%counter_circle {
  background-color: $danger;
  @include square(1.2rem, 4rem);
  color: $white;
  position: relative;
  text-align: center;
  filter: inherit;
}
.ks_appsmenu_edit {
  ul.o_menu_systray {
    li {
      #ks_customize_appdrawer {
        background-color: var(--hover-nav-bg);
        color: var(--icon-color);
      }
    }
  }
}
ul.o_menu_systray {
  > li {
    //z-index: 99;
    @include square(2.8rem, 4rem);
    text-align: center;
    margin: auto;
    > a {
      @include square(100%, $radius: 4rem);
      padding: 0px;
      line-height: 3rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1.6rem;
      display: block;
      color: var(--icon-color);


      .fa {
        font-size: $base-font + 0.3;
        opacity: 0.9;
      }

      &:hover {
        background-color: var(--ks-over-link);
        color: var(--icon-color);
      }
      &#ks_customize_appdrawer {
        background-image: url("/ks_curved_backend_theme_enter/static/src/images/fav_menu.svg");
      }
    }

    &.show {
      > a,
      > a.dropdown-toggle {
        background-color: var(--hover-nav-bg);
        color: var(--icon-color);
      }
    }

    &.o_mail_systray_item {
      .o_notification_counter {
        @extend %counter_circle;
        min-width: 1.2rem;
        left: 1.4rem;
        top: -0.2rem;
        padding-left: 3px;
        padding-right: 3px;
      }
    }
    // o_notification_counter

    &.o_MessagingMenu {
      .o_MessagingMenu_counter {
        @extend %counter_circle;
        padding: 2px 0px;
        right: -0.75rem;
        top: -0.2rem;
      }
    }
    &.o_switch_company_menu {
      > a {
        background-image: url("/ks_curved_backend_theme_enter/static/src/images/company-icon.svg");
        //@extend %filter_reverce;

        .oe_topbar_name {
          @extend %d_none;
        }
      }
      .dropdown-menu{
        .dropdown-item{
          @extend %pointer;
          &:hover{
            background: var(--hover-nav-bg);
          }
          div{
            &:hover{
              background-color: transparent !important;
            }
            &[style="background-color: lightgrey;"]{
               background-color: var(--primary) !important;
            }
          }
        }
      }
    }
    &.ks_language_icon{
      .dropdown-menu{
        .dropdown-item{
          &[style="background-color: lightgrey;"]{
            background-color: var(--primary) !important;
          }
        }
      }
    }
    &.ks_quick_settings {
      > a {
        background-image: url("/ks_curved_backend_theme_enter/static/src/images/setting-icon.svg");
        .fa-cog {
          display: none;
        }
      }
    }

    &.o_mail_systray_item {
      > a {
        background-image: url("/ks_curved_backend_theme_enter/static/src/images/time-icon.svg");
        .fa-clock-o {
          display: none;
        }
      }
    }

    &.o_MessagingMenu {
      > a {
        background-image: url("/ks_curved_backend_theme_enter/static/src/images/chat-icon.svg");
        .fa {
          display: none;
        }
      }
    }
    // o_MessagingMenu
    &.o_mail_systray_item.gift_icon {
      > a {
        background-image: url("/ks_curved_backend_theme_enter/static/src/images/gift-icon.svg");
        .fa {
          display: none;
        }
      }
    }
  }
}

.o_main_navbar {
  > ul.o_menu_sections {
    > li {
      > a {
        span.fa {
          font-size: $base-font + 0.3;
        }
        &:hover {
          background-color: var(--ks-over-link);
        }
      }
    }
  }
  // o_menu_sections / end

  > ul.o_menu_systray {
    margin-top: 0.5rem;
    margin-right: 1rem;

    > li {
      margin: 0 2px;
      &.ks_switch_btn{
        display: block;
        margin-right: 18px;
        width: auto;
      }
      &.o_user_menu {
        .dropdown-toggle {
          padding-right: 0px;
          filter: none;
          .oe_topbar_name {
            @extend %d_none;
          }
        }
        .dropdown-item {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }
      }
    }
  }
  // o_menu_systray / end
}
.o_menu_systray{
  .o_mail_systray_dropdown_items {
    .o_mail_preview {
      background: var(--background);
      border-bottom-color: var(--ks-border);
      &:hover {
        background: var(--hover-nav-bg);
      }
      &.o_preview_unread{
        .o_preview_info {
          .o_preview_title{
            .o_last_message_date{
              color: var(--primary);
            }
          }
        }
      }
      .o_preview_info {
        .o_no_activity {
          color: var(--color);
        }
        .o_note_input_box {
          .o_note_input {
            background: var(--background);
            border: 1px solid var(--ks-border);
            color: var(--color);
          }
        }
      }
    }
  }
}

// Vertical  nav panel
.dropdown-menu {
  border: 1px solid var(--menu-border-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--theme-style-radius-5);
  background: var(--background);
  color: var(--color);
  .dropdown-item-text {
    color: var(--color);
  }
  .dropdown-item {
    color: var(--color);
    .o_Follower_details {
      opacity: 1;
      color: inherit;
      &:hover {
        background: transparent;
      }
    }
    .o_Follower_button {
      color: var(--color);
      &:hover {
        background: var(--drk-border);
      }
    }
  }
}
.show .dropdown-menu .dropdown-header {
  color: var(--color);
  white-space: normal;
}
header {
  .o_main_navbar {
    .dropdown-menu {
      .dropdown-item {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: var(--color);
        &:hover,
        &:focus {
          background-color: var(--ks-over-link);
          color: var(--nav-link-color);
        }
      }
    }
    .o_menu_sections {
      .dropdown-menu {
        animation: leftScale ease-in-out 0.3s;
        transform-origin: left top;
        top: 100% !important;
        transform: none !important;
      }
    }

    .o_menu_systray {
      .dropdown-menu {
        animation: leftScale ease-in-out 0.3s;
        transform-origin: right top;

        .o_mail_preview:not(:last-child) {
          border-bottom-color: rgba($ks_border, 0.6);
        }
      }
    }

    .ks-user-info-inside-dropdown {
      padding: 3px 20px;
    }
  }

  .ks-phone-side-menu {
    .ks_mobile_nav_bottom {
      display: none;
    }
  }
}

// ks_menubar_autohide
.ks_menubar_autohide {
  padding-top: 1rem;
  > header.ks_horizontal_bar {
    nav {
      position: fixed;
    z-index: 999;
    width: 100%;
    background: var(--body-background);
      transform: translateY(-90%);
      -webkit-transform: translateY(-90%);
      -o-transform: translateY(-90%);
      -moz-transform: translateY(-90%);
      transition: all ease-in-out 0.3s;
      opacity: 0;
      &:hover {
        transform: translateY(-1rem);
        -webkit-transform: translateY(-1rem);
        -o-transform: translateY(-1rem);
        -moz-transform: translateY(-1rem);
        opacity: 1;
      }
    }
  }
}

.dropdown-divider {
  border-top: 1px solid var(--menu-border-color);
}
.o_dropdown_menu {
  .o_menu_item {
    .dropdown-item {
      color: var(--color);
      &:hover {
        color: var(--color);
      }
    }
  }
  .dropdown-item {
    color: var(--color);
    &:hover,
    &:focus {
      background-color: var(--heading-text-bg);
      color: var(--color);
    }
  }
}
.o_main_navbar > .o_menu_brand {
  margin: 0 10px;
  padding-left: 0;
}

.o_mail_preview .o_preview_info {
  color: var(--color);
  .o_no_activity {
    color: var(--color);
  }
}
.o_mail_preview.o_systray_activity:hover {
  background-color: var(--hover-nav-bg);
}
.o_MessagingMenu_dropdownMenu {
  .o_MessagingMenu_dropdownMenuHeader{
    border-bottom-color: var(--ks-border);
  }
  .o_NotificationList {
    .o_NotificationRequest,
    .o_NotificationGroup,
    .o_ThreadPreview {
      background: none;
      .o_NotificationRequest_header,
      .o_NotificationGroup_header,
      .o_ThreadPreview_header {
        color: var(--color);
        .o_NotificationGroup_date{
          color: var(--primary);
        }
      }
      &:hover {
        background: var(--hover-nav-bg);
      }
    }
    .o_NotificationList_separator {
      border-bottom: 1px solid var(--ks-border);
    }
  }
}
.o_MessagingMenu_dropdownMenuHeader {
  border-bottom: 1px solid var(--ks-border);
}

// For dark Mode
[data-color-mode="ks-dark"] {
  ul.o_menu_systray {
    li {
      > a {
        color: var(--color);
        opacity: 0.8;
      }
    }
    li.o_switch_company_menu > a {
      background-image: url("/ks_curved_backend_theme_enter/static/src/images/company-icon-light.svg");
    }
    li.ks_quick_settings > a {
      background-image: url("/ks_curved_backend_theme_enter/static/src/images/global-light.svg");
    }
    li.o_MessagingMenu > a {
      background-image: url("/ks_curved_backend_theme_enter/static/src/images/chat-icon-ling.svg");
    }
    li.o_mail_systray_item > a {
      background-image: url("/ks_curved_backend_theme_enter/static/src/images/time-icon-light.svg");
    }
    li > a#ks_customize_appdrawer {
      background-image: url("/ks_curved_backend_theme_enter/static/src/images/fav_menu_light.svg");
    }
    li > .ks-toggle-studio {
        background-image:url("/ks_curved_backend_theme_enter/static/src/images/studio_icon_small.png");
    }
  }
  //End ul

  a {
    .ks_app_drawer_arrow {
      opacity: 0.8;
      path {
        stroke: $white;
      }
    }
  }

  .table tbody tr:hover {
    background-color: var(--primary) !important;
  }

  .table.global-setting-table {
    tbody {
      tr:hover {
        background-color: var(--table-td-hoverbg) !important;
      }
    }
  }

  .table {
    tr:hover {
      td {
        .custom-control.custom-checkbox .custom-control-label::before {
          background: $white;
        }
      }
    }
  }
}

.ks_show_bookmark {
  .ks_right_sidebar_panel {
    .right-sidebar-inner {
      .ks-bookmark-body {
        .ks-add-bookmark-dropdown {
          border: 1px solid var(--ks-border);
          background: var(--background);
          .ks-add-bookmark-header {
            border-bottom-color: var(--ks-border);
          }
          .ks-add-bookmark-body {
            .form-control {
              color: var(--color);
              background-color: transparent;
              border: 1px solid var(--ks-border);
              &:focus {
                border-color: var(--ks-border);
                background-color: transparent;
                box-shadow: none;
              }
            }
          }
          .ks-add-bookmark-footer {
            border-color: var(--ks-border);
            .btn-default {
              color: var(--color);
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
}

ul.o_menu_systray {
  li.o_mail_systray_item,
  li.o_MessagingMenu {
    .o_notification_counter,
    .o_MessagingMenu_counter {
      max-width: 1.5rem;
      min-width: 1.2rem;
      width: auto;
      background: var(--primary);
      border-color: var(--primary);
    }
  }
}
.phone-menu-btn {
  @extend %d_none;
}

.ks-phone-profile {
  @extend %d_none;
}

ul.o_menu_systray {
  &.ks_color_theme_dark_header{
    li {
      a.language_icon, a.o_debug_mode {
        color: $white;
        opacity: 0.8;
      }
    }
    li.o_switch_company_menu > a {
      background-image: url("/ks_curved_backend_theme_enter/static/src/images/company-icon-light.svg");
    }
    li.ks_quick_settings > a {
      background-image: url("/ks_curved_backend_theme_enter/static/src/images/global-light.svg");
    }
    li.o_MessagingMenu > a {
      background-image: url("/ks_curved_backend_theme_enter/static/src/images/chat-icon-ling.svg");
    }
    li.o_mail_systray_item > a {
      background-image: url("/ks_curved_backend_theme_enter/static/src/images/time-icon-light.svg");
    }
    li > a#ks_customize_appdrawer {
      background-image: url("/ks_curved_backend_theme_enter/static/src/images/fav_menu_light.svg");
    }
    li > a.ks-toggle-studio {
        background-image:url("/ks_curved_backend_theme_enter/static/src/images/studio_icon_small.png");
    }

  }
}
.ks-menu-systray, .o_menu_systray {
    li > .ks-toggle-studio {
        background-image:url("/ks_curved_backend_theme_enter/static/src/images/studio_icon_small-b.png");
    }
}


.show > .dropdown-toggle.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.o_form_view
  .o_form_statusbar
  > .o_statusbar_status
  > .o_arrow_button:not(.disabled):active,
.o_form_view
  .o_form_statusbar
  > .o_statusbar_status
  > .o_arrow_button:not(.disabled):focus,
.o_form_view
  .o_form_statusbar
  > .o_statusbar_status
  > .o_arrow_button:not(.disabled):hover {
  color: var(--primary);
}

// Profile Image Dropdown items icon on Dark mode
html[data-color-mode="ks-dark"]{
  .o_user_menu{
    .dropdown-menu{
      .dropdown-item{
        img{
          filter: invert(1);
        }
      }
    }
  }
  .ks_mobile_nav_bottom{
    .dropdown-item{
      img{
        filter: invert(1);
      }
    }
  }
}

.o_ThreadPreview_date {
    color: var(--primary);
}


.o_web_client.ks_vertical_body_panel.ks_menubar_autohide.o_home_menu_background{
  header{
    height: 100%;
  }

  div.o_home_menu{
    width: calc(100vw - 95px);
    right: 0;
  }

  div.ks_left_sidebar_panel{
    background: transparent;
    li.ks_switch_btn{
      display: none;
    }
  }
}

.o_web_client.o_home_menu_background{
  div.ks_left_sidebar_panel{
    li.ks_switch_btn{
      display: none !important;
    }
  }
  ul.o_menu_systray{
    li.ks_switch_btn{
      display: none !important;
    }
  }
}
